*{
    margin: 0px;
    padding: 0px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
#aa{
    margin-left: 600px;
}
.row1{
    height: 94px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.pqr{
    background-color: aqua;
}